
    body{
        font-family: 'Roboto', sans-serif;
    }

      form{
        text-align: center;
    }

    .banner {
        height: 15%;
        background-color: rgb(137, 218, 255);
    }
    .nic-logo{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
    
    nav{
        display: flex;
        height: 75px;
        display: flex;
        background-color: aliceblue;
        justify-content: space-between;
        align-items:center;
    }
    .gafete, .citaSi, .citaNo{
        display: inline-block;
        position: relative;
        cursor: pointer;
        height: 50px;
        line-height: 35px;
        padding: 0 1.5rem;
        color: #424242;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .8px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        white-space: nowrap;
        outline: none;
        border: none;
        user-select: none;
        border-radius: 2px;
        transition: all .3s ease-out;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    }

    .submitInput{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .formElement{
        font-weight: bold;
        width: 200px;
        margin: 0 35px 20px ;
        height: 35px;
        padding: 6px 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: #F6F7F9;
        color: #748194;
        font-size: 14px;
     }

     .submitColab, .submitNomina, .submitMenor, .submitCita, .submitInput{
        font-weight: bold;
        width: 230px;
        margin: 0 35px 20px ;
        height: 45px;
        padding: 6px 15px;
        border-radius: 5px;
        outline: none;
        border: none;
        background: rgb(81, 214, 81);
        color: white;
        font-size: 14px;
     }
    

