body {
    background-color: #DADADA;
    font-family: Verdana, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
legend{
	font-size: 18px;
}

form {
  border: 3px solid #f1f1f1;
  background-color: #ffffff;
  padding:15px;
}
h3{
  background-color: #ffffff;
  color: #1D716C;
  padding: 5px 5px;
}

.formElement{
  width: 60%;
  padding: 12px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.gafete {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}

.submitColab {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.submitNomina {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.submitMenor {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.citaSi {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.citaNo {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.submitCita {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}
.submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 20px 20px;
  border: none;
  cursor: pointer;
}

.round{
	width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.round:checked {
    background-color: gray;
}